<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>ro.igstan.bnr.MainServlet</servlet-class>
    <multipart-config>
      <max-file-size>8388608</max-file-size><!-- 8 megabytes -->
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
